* {
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    background-color: red;
    margin-top: ;
    padding: 10px;
    font-size: 10px;
    height: 1px;
    width: 1px;
    background-color: red;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-weight: bold;

}